.ul-list{
    display: flex;
    padding:20px;
    margin: auto; 
    list-style: none;
    background:rgb(88, 81, 81);
  }
  
  .items-list{
    padding: 5px;
    border-radius: 5px;
    background: rgb(241, 232, 232);
    color:blue;
    margin-left: 100px;
    align-items: center;
  }